<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | UBFC</title>
</head>
<body>
    
    <h2>Welcome to UBFC !!!</h2>
    <h6>You have successfully signed in</h6>


    <button id="logout-btn">Logout</button>



    <script>
        document.getElementById("logout-btn").addEventListener("click", ()=>{
            if(confirm("Are you sure, you want to logout ??")){
                fetch('/logout')
                .then(data => { return data.json() })
                .then(res => { location.reload(); })
                .catch(err => { console.log(err) })

            }
        })
    </script>
</body>
</html>