<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up Page</title>
</head>
<body>
    <form action="/users" method="post">
        <input type="text" placeholder="Enter your full name" name="fullname">
        <input type="text" placeholder="Enter your phone no." name="phone">
        <input type="password" placeholder="Enter your password" name="password">
        <input type="password" placeholder="Confirm your password" name="cpassword">
        <button type="submit">Submit</button>
    </form>

    <h4>Already have an account? <a href="/loginPage">Login</a> </h4>
</body>
</html>