<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up Page</title>
</head>
<body>
    <form id="signup-form">
        <input type="text" placeholder="Enter your full name" name="fullname">
        <input type="text" placeholder="Enter your phone no." name="phone">
        <input type="password" placeholder="Enter your password" name="password">
        <input type="password" placeholder="Confirm your password" name="cpassword">
        <button type="submit">Submit</button>
    </form>

    <h4>Already have an account? <a href="/loginPage">Login</a> </h4>


    <script>
        document.getElementById("signup-form").addEventListener("submit", (e)=>{
            e.preventDefault();
            let name = e.target[0].value;
            let phone = e.target[1].value;
            let userid = phone;
            let pass = e.target[2].value;
            let cpass = e.target[3].value;
            if(pass!==cpass){
                console.log("pass & cpass doesn't match");
                return;
            }
            let data = {
                "userid": userid,
                "fullname": name,
                "phone": phone,
                "password": pass
            }
            // console.log(data);

            const Params = {
                headers: {
                    "content-type": "application/json; charset=UTF-8"
                },
                body: JSON.stringify(data),
                method: "POST"
            }
            fetch('/users', Params)
                .then(data => { return data.json() })
                .then(res => { console.log(res) })
                .catch(err => { "No err" })



        })
    </script>
</body>
</html>